<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cibertec.dawi.proy.daos.mybatis.mappers.usuario.PaisMapper">

	<resultMap type="com.cibertec.dawi.proy.beans.usuario.PaisDTO" id="rm_listaPaises">
		<id column="idPais" jdbcType="VARCHAR" property="idPais" />
		<result column="descPais" jdbcType="VARCHAR" property="descPais" />
	</resultMap>

	<select id="listarPaises" 
	    parameterType="paisDTO"
		resultMap="rm_listaPaises">
		SELECT * FROM tb_pais
	</select>
	
</mapper>